@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*importando uma fonte do googlefonts*/

:root {
    --primary-color: #f6f6f6;
}

* {
    box-sizing: border-box;
    outline: 0;
    margin: 0;
    padding: 0;
}

body {
    background: var(--primary-color);
    font-family: 'Inter Tight', sans-serif;
    font-size: 1.3em;
    line-height: 1.5em;
    color: rgb(180, 180, 180);
}

.container {
    max-width: 640px;
    margin: 50px auto;
    background: white;
    padding: 40px;
    border-radius: 20px;
}

.passo{
    font-size:20px;
    width: 32px;
    text-align:center;
    border-radius: 40px;
    background: rgb(100, 24, 252);
    color: rgb(255, 255, 255);
    
}

h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    color: black;
    text-align: center;
    font-size: 1.5em;

}

a{
    text-align: center;
    border: 0.1rem solid black;
    border-radius: 12px;
    color: black;
    text-decoration: none;
    padding: 10px 20px;
}

.opcao {
    text-align: center;
    margin: 50px;
}

.comprador:hover{
    color: white;
    border: 0.1rem solid transparent;
    background: rgb(100, 24, 252);
    transition: 1s;
}

.vendedor:hover{
    color: white;
    border: 0.1rem solid transparent;
    background: rgb(100, 24, 252);
    transition: 1s;
}
